@use "../config/fonts";
@use "../config/colors" as color;

.basket-modal {
  position: fixed;
  bottom: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  min-width: 20%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;

  border: 1px solid black;
  border-radius: 20px;

  &__content {
    position: relative;
    padding: 20px;
    color: color.$dark-text-color;
    background-color: color.$background-basket-modal;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    margin-right: 30px;
    @extend %text-style-basket-item-title-18-20;
    color: color.$dark-text-color;
  }
  &__clear-all-button {
    padding: 10px;
    @extend %text-style-basket-item-title-18-20;
    border: none;
    border-radius: 10px;
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
    cursor: pointer;
  }
  &__product {
    margin-bottom: 20px;
  }
  .basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &__title {
      margin-right: 30px;
      @extend %text-style-basket-item-title-18-20;
    }
    &__price {
      @extend %text-style-basket-item-price-18-20;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price-text {
    @extend %text-style-basket-item-title-18-20;
    color: color.$dark-text-color;
  }
  &__price-sum {
    @extend %text-style-basket-item-price-18-20;
    color: color.$dark-text-color;
  }
}
.display-block {
  display: block;
}
