@import "../config/mixins";

.root-app {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  @include mini-size {
    min-width: 400px;
  }
}

.active {
  display: block;
}

.hide {
  display: none;
}
