@use "../config/colors" as color;
@import "../config/mixins";

.basket-modal {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  min-width: 35%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;

  border: 3px solid rgb(56, 56, 56);
  border-radius: 20px;
  margin: 10px;

  background-color: color.$background-quick-view-modal-window;

  &--active {
    display: block;
  }
  &__content {
    position: relative;
    padding: 15px;
    color: color.$dark-text-color;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    margin-right: 30px;
    @include text-style(500, 24px, 22px);
    color: color.$dark-text-color;
  }
  &__clear-all-button {
    padding: 10px;
    @include text-style(300, 18px, 20px);
    border: none;
    border-radius: 10px;
    color: color.$ligth-text-color;
    background-color: color.$background-basket-button;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.3s linear;

    &:hover {
      opacity: 1;
      color: color.$medium-text-color;
    }
  }
  &__container {
    margin-bottom: 20px;
  }
  .basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &__title {
      margin-right: 10px;
      @include text-style(300, 18px, 20px);
      max-width: 250px;
    }
    &__increase,
    &__reduce,
    &__remove {
      padding: 5px 10px;
      margin: 0px 5px;
      @include text-style(300, 18px, 20px);
      border: none;
      border-radius: 10px;
      color: color.$ligth-text-color;
      background-color: color.$background-basket-button;
      opacity: 0.9;
      cursor: pointer;
      transition: 0.3s linear;

      &:hover {
        opacity: 1;
        color: color.$medium-text-color;
      }
    }
    &__price {
      @include text-style(500, 18px, 20px);
      margin: 0px 5px;
    }
    &__amount {
      @include text-style(300, 18px, 20px);
      margin: 0px 5px;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price-text {
    @include text-style(500, 22px, 20px);
    color: color.$dark-text-color;
  }
  &__price-sum {
    @include text-style(500, 22px, 20px);
    color: color.$dark-text-color;
    margin: 0px 5px;
  }

  @include mini-size {
    width: 100%;
    min-height: 40%;
    max-height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
  }
}
.display-block {
  display: block;
}
