@use "../config/colors" as color;
@import "../config/mixins";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  padding: 20px;

  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(color.$btn-bg-color),
      to(color.$bg-primary-color)
    )
    no-repeat;
  background-color: linear-gradient(
    to right,
    color.$btn-bg-color 0,
    color.$bg-primary-color 100%
  );
  &__container {
    max-width: 1400px;
    margin: 0 auto;

    @include sm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @include lg {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__logo {
    text-decoration: none;
    text-transform: uppercase;
    @include text-style(500, 34px, 36px);

    color: color.$ligth-text-color;
  }
  &__input {
    width: 100%;
    padding: 16px 0px 16px 45px;
    margin: 0px 50px;

    @include text-style(300, 20px, 22px);

    border: none;
    border-radius: 56px;
    outline: none;
    color: color.$ligth-text-color;
    background-color: color.$bg-input;

    transition: 0.3s linear;

    cursor: pointer;

    &:hover {
      background: color.$bg-placeholder;
    }

    &::placeholder {
      color: color.$bg-placeholder;
    }

    &:focus {
      text-decoration: none;
      outline: none;
      background: color.$bg-placeholder-focus;
      color: color.$dark-text-color;
    }

    @include sm {
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
    }
    @include lg {
      width: 80%;
      margin: 0 20px;
    }
  }

  &__basket-button {
    padding: 16px;

    @include text-style(300, 20px, 22px);

    border: none;
    border-radius: 30px;
    color: color.$ligth-text-color;
    background-color: color.$bg-primary-light-color;
    opacity: 0.7;
    white-space: nowrap;

    transition: 0.3s linear;

    cursor: pointer;

    &:hover {
      background: color.$bg-placeholder;
      color: color.$dark-text-color;
      transform: scale(1.05);
    }

    @include sm {
      position: absolute;
      top: 10px;
      right: 20px;
    }
    @include lg {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}
