@use "../config/colors" as color;
@import "../config/mixins";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(color.$background-basket-button),
      to(color.$background-header)
    )
    no-repeat;
  background-color: linear-gradient(
    to right,
    color.$background-basket-button 0,
    color.$background-header 100%
  );
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;

    @include mini-size {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }
  }
  &__logo {

    text-decoration: none;
    text-transform: uppercase;
    @include text-style(500, 34px, 36px);
    color: color.$ligth-text-color;

    @include mini-size {
      margin-bottom: 20px;
    }
  }
  &__input {
    width: 100%;
    padding: 20px 40px 20px 44px;
    margin: 0px 50px;
    @include text-style(300, 20px, 22px);
    border: none;
    border-radius: 56px;
    outline: none;
    color: color.$ligth-text-color;
    background-color: color.$background-header-input;
    cursor: pointer;
    transition: .3s linear;

    &:hover {
      background: color.$background-header-placeholder;
    }

    &::placeholder {
      color: color.$background-header-placeholder;
    }

    &:focus{
      background: color.$background-header-placeholder-focus;
      outline: none;
      color: color.$dark-text-color;
      text-decoration: none;
    }

    @include mini-size{
      margin: 0 auto;
      width: 80%;
    }
  }
  
  &__basket-button {
    padding: 18px;
    @include text-style(300, 20px, 22px);
    border: none;
    border-radius: 30px;
    color: color.$ligth-text-color;
    background-color: color.$background-basket;
    opacity: 0.7;
    white-space: nowrap;
    cursor: pointer;
    transition: .3s linear;

    &:hover {
      background: color.$background-header-placeholder;
      color: color.$dark-text-color;
      transform: scale(1.05);
    }

    @include mini-size {
        position: absolute;
        top: 17px;
        right: 20px;
        margin-bottom: 20px;       
    }
  }
}
