@use "../config/colors" as color;
@import "../config/mixins";

.quick-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &__content {
    position: relative;
    width: 30%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    color: color.$dark-text-color;
    background-color: color.$ligth-text-color;
  }
  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
    opacity: 0.7;
    background-color: transparent;
    transition: .3s linear;
    cursor: pointer;
  }
  &__close-button:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  &__title {
    margin-bottom: 20px;
    color: color.$dark-text-color;
    max-width: 80%;
    @include text-style(300, 26px, 28px);
  }
  &__price {
    color: color.$dark-text-color;
    @include text-style(normal, 22px, 24px);
  }
  &__images {
    padding: 30px;
    border-radius: 50px;
  }
  &__basket {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: color.$ligth-text-color;
    background-color: color.$background-basket-button;
    opacity: 0.8;
    @include text-style(300, 16px, 18px);
    transition: .3s linear;
    cursor: pointer;
  }
  &__basket:hover {
    opacity: 1;
  }
}
