@use "./fonts";
@use "./colors" as color;

.quick-view-modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    position: relative;
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    color: color.$dark-text-color;
    background-color: color.$background-quick-view-modal-window;
  }
  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
  }
  &__close-button:hover {
    color: color.$dark-text-color;
  }
  &__title {
    color: color.$dark-text-color;
    @extend %text-style-item-title-26-28;
    margin-bottom: 20px;
  }
  &__price {
    color: color.$dark-text-color;
    @extend %text-style-item-price-22-24;
  }
  &__images {
    border-radius: 50px;
    padding: 30px;
  }
  &__basket {
    border: none;
    border-radius: 10px;
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
    padding: 10px;
    @extend %text-style-item-basket-16-18;
    cursor: pointer;
  }
  &__basket:hover {
    color: color.$dark-text-color;
  }
}
