@use "../config/fonts";
@use "../config/colors" as color;

.quick-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &__content {
    position: relative;
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    color: color.$dark-text-color;
    background-color: color.$background-quick-view-modal-window;
  }
  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
<<<<<<< HEAD:src/scss/components/_quick-view-modal-window.scss
=======
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
>>>>>>> dev:src/scss/configuration/quick-view-modal-window.scss
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
    cursor: pointer;
  }
  &__close-button:hover {
    color: color.$dark-text-color;
  }
  &__title {
    margin-bottom: 20px;
    color: color.$dark-text-color;
    max-width: 80%;
    @extend %text-style-item-title-26-28;
  }
  &__price {
    color: color.$dark-text-color;
    @extend %text-style-item-price-22-24;
  }
  &__images {
    padding: 30px;
    border-radius: 50px;
  }
  &__basket {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
    @extend %text-style-item-basket-16-18;
    cursor: pointer;
  }
  &__basket:hover {
    color: color.$dark-text-color;
  }
}
