@use "../config/colors" as color;
@import "../config/mixins";

.toast {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 40%;
  min-width: 300px;
  margin: auto;
  padding: 0px 20px;

  transform: translateX(200%);
  border-radius: 20px;
  background: color.$bg-toast;

  transition: width 2s, height 2s, transform 2s;

  &__title {
    @include text-style(300, 20px, 22px);
    color: color.$ligth-text-color;
  }

  &__close-btn {
    margin-left: 10px;
    padding: 12px;

    @include text-style(300, 20px, 22px);

    background: none;
    border: none;
    border-radius: 10px;
    color: color.$ligth-text-color;

    cursor: pointer;
  }
}

.toast--visible {
  transform: translateX(0);
}
