@use "../config/colors" as color;
@import "../config/mixins";

.toast {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 40%;
  min-width: 300px;
  border-radius: 20px;

  margin: auto;
  padding: 0px 20px;

  background: color.$background-toast;

  z-index: 3;
  transform: translateX(200%);
  transition: width 2s, height 2s, transform 2s;

  &__title {
    color: color.$ligth-text-color;
    @include text-style(300, 20px, 22px);
  }

  &__close-btn {
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    padding: 12px;
    color: color.$ligth-text-color;
    @include text-style(300, 20px, 22px);
    background: none;
    cursor: pointer;
  }
}

.toast--visible {
  transform: translateX(0);
}
