//basket

$dark-text-color: #000;
$ligth-text-color: #fff;
$background-basket-modal: white;
$background-basket-button: #cb11ab;
$font-rb: Roboto;

%text-style-header-16-18 {
  font-family: $font-rb;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

%text-style-basket-item-title-18-20 {
  font-family: $font-rb;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

%text-style-basket-item-price-18-20 {
  font-family: $font-rb;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.basket-modal__container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  min-width: 20%;
  border: 1px solid black;
  border-radius: 20px;
  .basket-modal__content {
    position: relative;
    background-color: $background-basket-modal;
    color: $dark-text-color;
    padding: 20px;
  }
  .basket-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .basket-modal__title {
    margin-right: 30px;
    color: $dark-text-color;
    @extend %text-style-header-16-18;
  }
  .basket-modal__delete-button {
    border: none;
    border-radius: 10px;
    color: $dark-text-color;
    background-color: $background-basket-button;
    padding: 10px;
    cursor: pointer;
    @extend %text-style-header-16-18;
  }
  .basket-modal__product {
    margin-bottom: 20px;
  }
  .basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &__title {
      margin-right: 30px;
      @extend %text-style-basket-item-title-18-20;
    }
    &__price {
      @extend %text-style-basket-item-price-18-20;
    }
  }
  .basket-modal__price-sum {
    color: $dark-text-color;
    @extend %text-style-header-16-18;
  }
}
.display-block {
  display: block;
}
