@use "./fonts";
@use "./colors" as color;

.basket-modal__container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  min-width: 20%;
  border: 1px solid black;
  border-radius: 20px;
  max-height: 50%;
  .basket-modal__content {
    position: relative;
    background-color: color.$background-basket-modal;
    color: color.$dark-text-color;
    padding: 20px;
  }
  .basket-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .basket-modal__title {
    margin-right: 30px;
    color: color.$dark-text-color;
    @extend %text-style-basket-item-title-18-20;
  }
  .basket-modal__delete-button {
    border: none;
    border-radius: 10px;
    color: color.$dark-text-color;
    background-color: color.$background-basket-button;
    padding: 10px;
    cursor: pointer;
    @extend %text-style-basket-item-title-18-20;
  }
  .basket-modal__product {
    margin-bottom: 20px;
  }
  .basket-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    &__title {
      margin-right: 30px;
      @extend %text-style-basket-item-title-18-20;
    }
    &__price {
      @extend %text-style-basket-item-price-18-20;
    }
  }
  .basket-modal__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .basket-modal__price-text {
    color: color.$dark-text-color;
    @extend %text-style-basket-item-title-18-20;
  }
  .basket-modal__price-sum {
    color: color.$dark-text-color;
    @extend %text-style-basket-item-price-18-20;
  }
}
.display-block {
  display: block;
}
