$dark-text-color: #000;
$ligth-text-color: #fff;
$background-basket-modal: white;
$background-basket-button: #cb11ab;
$background-header: #481173;
$background-header-input: rgba(255, 255, 255, 0.2);
$background-quick-view-modal-window: white;
$color-text-style-quick-view: rgba(73, 102, 162, 0.5);
$background-toast-success: greenyellow;
$background-toast-eroor: red;
$background-toast: rgba(73, 102, 162);
