$dark-text-color: #000;
$ligth-text-color: #fff;
$background-basket-button: #cb11ab;
$font-rb: Roboto;

%text-style-header-34-36 {
  font-family: $font-rb;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 36px;
}

%text-style-header-16-18 {
  font-family: $font-rb;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from($background-basket-button),
      to(#481173)
    )
    no-repeat;
  background-color: linear-gradient(
    to right,
    $background-basket-button 0,
    #481173 100%
  );
  &__container {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wildberries {
    color: $ligth-text-color;
    text-decoration: none;
    @extend %text-style-header-34-36;
  }
  &__input {
    width: 100%;
    margin: 0px 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: $ligth-text-color;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    @extend %text-style-header-16-18;
    cursor: pointer;
  }
  &__input::placeholder {
    color: $ligth-text-color;
  }
  &__basket-button {
    border: none;
    border-radius: 10px;
    color: $dark-text-color;
    background-color: $background-basket-button;
    padding: 10px;
    @extend %text-style-header-16-18;
    cursor: pointer;
  }
}
