@media (max-width: 992px) {
  .root-app {
    min-width: 375px;
    .header {
      &__container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
      }
      &__wildberries {
        margin-bottom: 20px;
      }
      &__input {
        margin: 0 auto;
      }
      &__basket-button {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .section-card__grid {
      min-height: 100%;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
    .card__review {
      display: none;
    }
  }
}
@media (min-width: 992px) {
  .section-card__grid {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .section-card__grid {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
}
