$dark-text-color: rgba(0, 0, 0, 1);
$ligth-text-color: rgba(255, 255, 255, 1);
$medium-text-color: rgba(255, 255, 255, 0.7);
$color-text-style-quick-view: rgba(73, 102, 162, 0.5);
$background-basket-modal: rgb(242, 239, 239,1);
$background-basket-button: rgba(203, 17, 171, 1);
$background-basket: rgba(125, 50, 182, 1);
$background-header: rgba(72, 17, 115, 1);
$background-header-input: rgba(255, 255, 255, 0.2);
$background-header-placeholder: rgba(255,255,255,.5);
$background-header-placeholder-focus: rgba(255, 255, 255, 1);
$background-quick-view-modal-window: rgba(242, 242, 242, 1);
$background-slider-arrow: rgba(255, 255, 255, 0.3);
$background-toast-success: rgba(173, 255, 47, 1);
$background-toast-eroor: rgba(255, 0, 0, 1);
$background-toast: rgba(117, 37, 179, 0.9);
$background-slider-dot-active: rgba(105, 1, 159, 1);
$background-slider-dot: rgba(255, 255, 255, 1);
$bg-transparent-color: rgba(0, 0, 0, 0.8);

