@media (max-width: 768px) {
  .root-app {
    min-width: 400px;
    .header {
      &__container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
      }
      &__wildberries {
        margin-bottom: 20px;
      }
      &__input {
        margin: 0 auto;
      }
      &__basket-button {
        position: absolute;
        top: 17px;
        right: 20px;
      }
    }
    .card-container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      min-height: 100%;
    }
    .basket-modal {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
  }
}
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    min-height: 100%;
  }
}
@media (min-width: 992px) {
  .card-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    min-height: 100%;
  }
  .card__review {
    display: none;
  }
}
@media (min-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    min-height: 100%;
  }
  .card__review {
    display: block;
  }
}
