.main {
  display: flex;
}
.card {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #f1e7e8;
}
.wrap {
  height: 100%;
  position: relative;
}
.product-wrap {
  position: relative;
}
.product-wrap:after {
  content: "";
  background: rgba(73, 102, 162, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transform: scale(0.3);
  transition: 0.3s ease-in-out;
}
.card:hover .product-wrap:after {
  opacity: 1;
  transform: scale(1);
}
.product-wrap img {
  display: block;
  text-decoration: none;
}
.product-wrap img {
  display: block;
  width: 100%;
}
.loop-action {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}
.card:hover .loop-action {
  opacity: 1;
}
.loop-action button {
  text-decoration: none;
  display: block;
  border: 1px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 14px;
  line-height: 1.6;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: rgba(73, 102, 162, 0.5);
  min-width: 180px;
  margin: 5px auto;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.loop-action button:after {
  content: "";
  position: absolute;
  left: -220%;
  top: -500%;
  width: 140%;
  height: 1000%;
  transform: rotate(45deg);
  background: white;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.loop-action button:hover {
  color: black;
}
.loop-action button:hover:after {
  left: 0%;
}
.border:hover {
  border-color: #4966a2;
}
.product-info {
  padding-top: 15px;
}
