.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}
#container-card {
  display: flex;
}
.card {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border: 1px solid #f1e7e8;
}
.wrap {
  height: 100%;
  position: relative;
}
.product-wrap {
  position: relative;
}
.product-wrap:after {
  content: "";
  background: rgba(73, 102, 162, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transform: scale(0.3);
  transition: 0.3s ease-in-out;
}
.card:hover .product-wrap:after {
  opacity: 1;
  transform: scale(1);
}
.product-wrap img {
  display: block;
  text-decoration: none;
}
.product-wrap img {
  display: block;
  width: 100%;
}
.loop-action {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}
.card:hover .loop-action {
  opacity: 1;
}
.loop-action button {
  text-decoration: none;
  display: block;
  border: 1px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 14px;
  line-height: 1.6;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: rgba(73, 102, 162, 0.5);
  min-width: 180px;
  margin: 5px auto;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.loop-action button:after {
  content: "";
  position: absolute;
  left: -220%;
  top: -500%;
  width: 140%;
  height: 1000%;
  transform: rotate(45deg);
  background: white;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.loop-action button:hover {
  color: black;
}
.loop-action button:hover:after {
  left: 0;
}
.border:hover {
  border-color: #4966a2;
}
.product-info {
  padding-top: 15px;
}

.slider {
  max-width: 90%;
  position: relative;
  margin: 0 auto;
  height: 300px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border: 0 solid #7922cc;
  border-radius: 25px;
}
/* Кнопки вперед и назад */
.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: rgb(206, 31, 206);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Кружочки */
.slider-dots {
  text-align: center;
  margin-top: 15px;
}
.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: rgb(206, 31, 206);
  width: 15px;
  height: 15px;
}
/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
